<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" >
	
    <Appenders>
    	<!-- Configuracion del log para la consola del editor (Para nuestro caso eclipse) -->
        <Console name="log-consola" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console> 
    </Appenders>
    
    <Loggers>
		<!-- Niveles DEBUG,INFO,WARN,ERROR,FATAL -->
     
        <Logger name="rios.demo" level="DEBUG" additivity="false">
        	 <AppenderRef ref="log-consola"/>
        </Logger>
    	
        <Root level="DEBUG">
			<AppenderRef ref="log-consola" />
        </Root>
 
    </Loggers>
</Configuration>